@model IEnumerable<SistemaBuscas.Models.Contato>

@{
    ViewData["Title"] = "Contatos - Antão Fernandes & Associados";
}

<h1>Lista de Telefones Úteis</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Criar Novo Contato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residencial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residencial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContatoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ContatoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ContatoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
