@model IEnumerable<SistemaBuscas.Models.Contato>
@{
    ViewData["Title"] = "Contatos - Antão Fernandes & Associados";
}

<h1>Lista de Telefones Úteis</h1>
<section>
    <p>
        <a type="button" class="btn btn-primary" asp-action="Create">Criar Novo Contato</a>
    </p>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Busque pelo Nome: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <button type="submit" value="Search" class="btn btn-primary">Pesquisar</button> |
                <a asp-action="Index">Todos</a>
            </p>
        </div>
    </form>
</section>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NomeSortParm"]">@Html.DisplayNameFor(model => model.Nome)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CategoriaSortParm"]">@Html.DisplayNameFor(model => model.Categoria)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Celular)
                </th>
                <td>
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.ContatoId">Detalhes</a> |
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ContatoId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
