@model SistemaBuscas.Models.Condominio

@{
    ViewData["Title"] = "Condomínios - Antão Fernandes & Associados LTDA";
}

<h1>Deletar Condomínio</h1>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelAdm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelAdm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelZela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelZela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenhaBoletos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenhaBoletos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CondominioId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a Lista</a>
    </form>
</div>
