@model SistemaBuscas.Models.Condominio

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Condomínio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelAdm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelAdm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelZela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelZela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenhaBoletos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenhaBoletos)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.CondominioId">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
