@model IEnumerable<SistemaBuscas.Models.Condominio>

@{
    ViewData["Title"] = "Condomínios - Antão Fernandes & Associados LTDA";
}

<h1>Condomínios</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Novo Condomínio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admininstradora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaBoletos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelPort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admininstradora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaBoletos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelPort)
            </td>
            <td>
                <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CondominioId">Editar</a> |
                <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.CondominioId">Detalhes</a> |
                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CondominioId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
